body {
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: powderblue;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}

.region_table, .country_table {
    width: 80%;
    margin: 12px auto;
}

nav {
    margin: 12px 0;
}

.region_table td, .region_table th,
.country_table td, .country_table th
{
    padding: 10px;
    border-bottom: 1px solid lightgray
}

.region_table th {
    border-color: black;
}
