{% extends 'base.html' %}

{% block title%} Detalle {% endblock %}

{% block content %}
    <h1>Página de detalle</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus elit quis enim vulputate, quis molestie lectus bibendum. Nulla aliquam mi dolor, id imperdiet nunc consequat eget. Donec bibendum mollis felis. Fusce laoreet vehicula massa non tincidunt. Mauris et augue sit amet magna laoreet elementum nec ut libero. Suspendisse rutrum nunc ex. Sed lacus urna, suscipit eu lorem id, dictum sollicitudin mauris. </p>
{% endblock %}