{% extends 'base.html' %}

{% block title%} Detalle {% endblock %}

{% block content %}
    <h1>Resumen de {{region}}</h1>

{% if registros | length == 0 %}
    <p>No hay datos</p>
{% else %}
    <table class="country_table">
        <tr>
            <th>Pais</th>
            <th>Total Ventas</th>
            <th>Total Beneficio</th>
        </tr>
        {% for key, data in registros.items() %}
        <tr>
            <td>{{key}}</td>
            <td>{{"%.2f €" | format(data.ingresos_totales)}}</td>
            <td>{{"%.2f €" | format(data.beneficios_totales)}}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}