{% extends 'base.html' %}

{% block title%} Indice {% endblock %}

{% block content %}
    <table class="region_table">
        <tr>
            <th>Región</th>
            <th>Total Ventas</th>
            <th>Total Beneficio</th>
        </tr>
        {% for registro in registros %}
        <tr>
            {% for campo in registro %}
            <td>{{campo.region}}</td>
            <td>{{campo.ingresos_totales}}</td>
            <td>{{campo.beneficios_totales}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
