{% extends 'base.html' %}

{% block title%} Indice {% endblock %}

{% block content %}
    <form action="/detail">
        <table class="region_table">
            <tr>
                <th></th>
                <th>Región</th>
                <th>Total Ventas</th>
                <th>Total Beneficio</th>
            </tr>
            {% for key, data in registros %}
            <tr>
                <td><input type="radio" name="region" value="{{key}}"></td>
                <td><a href="/detail?region={{key}}">{{key}}</a></td>
                <td>{{"%.2f €" | format(data.ingresos_totales)}}</td>
                <td>{{"%.2f €" | format(data.beneficios_totales)}}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit">Enviar</button>
    </form>
{% endblock %}
